upstream php-front
{
    {% for upstream in groups["front_app"] %}
        server {{ hostvars[upstream]["ansible_host"] }}:9000;
    {% endfor %}
}

{% set vmvars = hostvars[groups["front_app"][0]] %}

server {
    #index index.php;
    #error_log  /code/varlog/nginx/error.log;
    #access_log /code/varlog/nginx/access.log;

    root {{ vmvars["releases_path"] }}/{{ vmvars["service_name"] }}/{{ vmvars["current_release_dir"] }};

    listen 80;
    location /assets/ {
        root {{ vmvars["releases_path"] }}/{{ vmvars["service_name"] }}/{{ vmvars["current_release_dir"] }};
    }

    location / {
#       try_files $uri =404;
#       fastcgi_split_path_info ^(.+\.php)(/.+)$;
#       fastcgi_index index.php;

        fastcgi_pass php-front;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}


