{
    "http-basic": {
        "gitlab.equifax.local": {
            "username": "{{ user }}",
            "password": "{{ token }}"
        }
    },
    "github-oauth": {
        "github.com": "{{ github_token }}"
    }
}